<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Nouvelles
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-list-header>{{status}}</ion-list-header>
      </ion-col>
      <ion-col>
        {{userEmail}}
      </ion-col>
      <ion-col size="12" *ngFor="let item of interactions">
        <span *ngIf="item.titre==='Retrait médicament'">
          <ion-icon name="notifications-outline" color="danger"></ion-icon>
        </span>
        <span *ngIf="item.titre!='Retrait médicament'">
          <ion-icon name="notifications-outline" color="warning"></ion-icon>
        </span>


        <ion-label><strong>{{item.titre}} </strong><br></ion-label>
        <ion-note> {{item.dateposte}}<br></ion-note>
        <span *ngIf="item.titre==='Retrait médicament'">
          <ion-badge color="danger" slot="end">Alerte</ion-badge>
        </span>
        <ion-col size="12">
          <ion-label>
            {{item.description}}<br></ion-label>
        </ion-col>
      </ion-col>
      <ion-col size="12">
        <ion-icon name="logo-facebook"></ion-icon> Facebook <ion-icon name="logo-twitter"></ion-icon> Twitter <ion-icon
          name="logo-whatsapp"></ion-icon> Whatsapp
      </ion-col>
      <ion-col size="12">
        <ion-content fullscreen>
          <ion-list>
            <ion-list-header>Informations</ion-list-header>
            <ion-item>
              <ion-label> La RDC et ses partenaires mobilisent 579 millions USD pour lutter contre Ebola Au total, 2 877
                cas ont été
                enregistrés depuis le début de l’épidémie il y a un an, dont 1 934 décès.</ion-label>
              <ion-badge slot="end">22k</ion-badge>
            </ion-item>
            <ion-item>
              <ion-label>Ordre des pharmaciens</ion-label>
              <ion-badge color="secondary" slot="end">118k</ion-badge>
            </ion-item>
            <ion-item>
              <ion-label>Ordre des médecins</ion-label>
              <ion-badge color="tertiary" slot="end">34k</ion-badge>
            </ion-item>
            <ion-item>
              <ion-label>Ordre des dentistes</ion-label>
              <ion-badge color="success" slot="end">80</ion-badge>
            </ion-item>
            <ion-item>
              <ion-label>Fermeture de pharmacie</ion-label>
              <ion-badge color="warning" slot="end">70</ion-badge>
            </ion-item>
            <ion-item>
              <ion-label>Retrait produit</ion-label>
              <ion-badge color="danger" slot="end">1000</ion-badge>
            </ion-item>



          </ion-list>
        </ion-content>
      </ion-col>

      <ion-col size="12">

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer></ion-footer>