<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inscription
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- Default Label -->
  <!-- Default Note -->

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        Inscrivez-vous
      </ion-col>
      <ion-col size="12">
      </ion-col>
      <ion-col size="12">
        <ion-note>Cette section est reservée aux profesionels de la santé.
        </ion-note>
      </ion-col>
      <ion-col size="12">
        <ion-note>Le contrôle de la véracité des informations fournies se fait en collaboration avec le Ministère de la
          santé.
        </ion-note>
      </ion-col>
      <ion-col size="12">

      </ion-col>
      <ion-col size="12">
        <ion-button expand="block" color="primary">Identifiez-vous</ion-button>
      </ion-col>
      <ion-col size="12">
        
         
          <ion-label>
            {{title}}
          </ion-label>
      
      </ion-col>
      <ion-col size="12">
        <ion-button expand="block" color="primary">Pas encore inscrit?</ion-button>
      </ion-col>
      <ion-col size="12">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer></ion-footer>