<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Interactions médicamenteuses
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        Médicaments
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="forms">
    <div class="template-driven-form">
      <form #form="ngForm" (ngSubmit)="submitTemplateForm(form.value)">
        <div class="container">
          <div class="ng-autocomplete">
            <ng-autocomplete #ngAutoCompleteStatic [data]="countriesTemplate" name="name" [(ngModel)]="name"
              [initialValue]="" [placeHolder]="placeholder" [searchKeyword]="keyword"
              historyIdentifier="countriesTemplateList" [historyHeading]="historyHeading" historyListMaxNumber="6"
              notFoundText="Pas de résultat" [itemTemplate]="itemTemplateStatic" [notFoundTemplate]="notFoundTemplate">
            </ng-autocomplete>
            <ng-template #itemTemplateStatic let-item>
              <a [innerHTML]="item"></a>
            </ng-template>
            <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>
          </div>
          <ion-button expand="block" color="primary" type="submit">Recherche</ion-button>
        </div>
      </form>
    </div>
  </div>
  <ion-footer></ion-footer>