<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      AKSANTIMED
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- Default Label -->
  <!-- Default Note -->

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        Intéractions médicamenteuses

      </ion-col>
      <ion-col size="12">
        <ion-note>L'interaction médicamenteuse est une situation qui résulte de l'administration concomitante ou
          successive de deux ou plusieurs médicaments (ou parfois d'autres substances comme certains aliments) chez un
          même patient et dans laquelle l'une des substances absorbées affecte l'activité thérapeutique d'un ou
          plusieurs des autres médicaments administrés.<br><br> Dans certains cas, on peut avoir une augmentation de
          l'activité du médicament pour une même dose, dans d'autre une réduction, voire une abolition de l'efficacité
          du traitement..<br></ion-note>
      </ion-col>
      <ion-col size="12">

      </ion-col>
      <ion-col size="12">

      </ion-col>
      <ion-col size="12">

      </ion-col>
      <ion-col size="12">

      </ion-col>
      <ion-col size="12">
        <ion-searchbar type="text" debounce="500" (ionInput)="interactions.titre"></ion-searchbar>
        <ion-list >
          <ion-item *ngFor="let item of interactions">
            {{item.titre}}
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="block" color="primary">Recherche</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer></ion-footer>