<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Recherche avancée
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- Default Label -->
  <!-- Default Note -->

  <ion-grid>
    <ion-tabs>
      <!-- Tab bar -->
      <ion-tab-bar slot="top">
        <ion-tab-button tab="account">
          <ion-icon name="navigate"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="contact">
          <ion-icon name="call"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="settings">
          <ion-icon name="settings"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-grid>
</ion-content>
<ion-footer></ion-footer>