<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      AKSANTIMED
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- Default Label -->
  <!-- Default Note -->

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        Annuaire des professionnels

      </ion-col>
      <ion-col size="12">
        <ion-note>Recherchez un pharmacien, médecin, dentiste, kinésiterapheutes , infirmier et autres para médicaux.
        </ion-note>
      </ion-col>
      <ion-col size="12">

      </ion-col>
      <ion-col size="12">
        <!-- Input with placeholder -->
        <ion-input placeholder="Entrer votre recherche"></ion-input>
      </ion-col>
      <ion-col size="12">

      </ion-col>
      <ion-col size="12">
        <ion-button expand="block" color="primary">Recherchez</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer></ion-footer>