<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Recherche simple
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- Default Label -->
  <!-- Default Note -->

  <ion-grid>
    <ion-row>
      <ion-col size="12">
       Entrer un terme.

      </ion-col>
      <ion-col size="12">

        <ion-note>Les résultats sont classés par ordre de pertinence de 1 à 0.<br><br> Vous pouvez rechercher par:
           Nom commercial <br>
           DCI: Dénomination Commune Internationale <br>
           ou par code ATC: Anatomique, Thérapeutique et Chimique.
        </ion-note>
      </ion-col>
      <ion-col size="12">
      </ion-col>
      <ion-col size="12">
      </ion-col>
      <ion-col size="12">
        <!--Debut formulaire-->
        <!-- If user is loaded show the form, else show the loading template -->
        <form [formGroup]="form" (ngSubmit)="submit()">

          <ion-item>
            <ion-label>Entrer un terme.</ion-label>
            <ion-input type="text" placeholder="" id="votretext" class="form-control" formControlName="votretext">
            </ion-input>

          </ion-item>
          <ion-button expand="block" color="primary" ion-button type="submit" block [disabled]="!form.valid">Recherche
          </ion-button>
        </form>
        <p [innerHTML]="myResponse"></p>
        <ng-template #loading>
          Votre reponse ...
        </ng-template>
        <!--Fin formulaire-->
      </ion-col>
      <ion-col size="12">

      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer></ion-footer>
